# 应用环境
FLASK_APP=flasky.py
FLASK_CONFIG=docker

# 邮件
MAIL_USERNAME=your-email@example.com
MAIL_PASSWORD=your-mail-password

# 管理员邮箱地址
FLASKY_ADMIN_MAIL=your-email@example.com

# 数据库
DATABASE_URL=mysql+pymysql://user:password@mysql/flasky
REDIS_URL=redis://:password@myredis:6379/0
REDIS_HOST=myredis

# 七牛云
QINIU_ACCESS_KEY=your-qiniu-access-key
QINIU_SECRET_KEY=your-qiniu-secret-key
QINIU_BUCKET_NAME=your-bucket
QINIU_DOMAIN=https://your-domain.example.com

# ===OAuth2授权===
QQ_CLIENT_ID=your-qq-client-id
QQ_CLIENT_SECRET=your-qq-client-secret

GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret

# GOOGLE_CLIENT_ID=your-google-client-id
# GOOGLE_CLIENT_SECRET=your-google-client-secret

# WEIBO_CLIENT_ID=your-weibo-client-id
# WEIBO_CLIENT_SECRET=your-weibo-client-secret
