# 应用环境
FLASK_APP=flasky.py
FLASK_CONFIG=development
FLASK_RUN_PORT=4289
SOCKETIO_RUN_PORT=4090
FLASK_DEBUG=True
FLASK_RUN_HOST=localhost

SECRET_KEY=
JWT_SECRET_KEY=

# mysql
DEV_DATABASE_URL=

# 邮箱
MAIL_USERNAME=
# 邮箱授权码
MAIL_PASSWORD=
# 管理员邮箱地址
FLASKY_ADMIN_MAIL=

# 管理员邮箱地址
FLASKY_ADMIN_MAIL=



# 七牛云凭证
# QINIU_ACCESS_KEY=
# QINIU_SECRET_KEY=
# QINIU_BUCKET_NAME=
# QINIU_DOMAIN=


# ####### 第三方平台oauth2授权 ####### 
# QQ_CLIENT_ID=
# QQ_CLIENT_SECRET=

# GITHUB_CLIENT_ID=
# GITHUB_CLIENT_SECRET=

# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=

# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=

# WEIBO_CLIENT_ID=
# WEIBO_CLIENT_SECRET=

# ####### OAuth2授权 ####### 